<!doctype html>
<head>
  <title>Login Page</title>
</head>
<body>
  <form action="http://localhost:5000/create_cookie/" method="POST">
    <table>
      <tr>
        <td>Enter Cookie ID/Name : </td>
        <td><input type="text" name="txtb_id" placeholder="enter 102, so to read cookies"/></td>
      </tr>
      <tr>
        <td>Enter Cookie Content : </td>
        <td><input type="text" name="txtb_content"/></td>
      </tr>
      <tr>
        <td>Enter Cookie Max Age : </td>
        <td><input type="number" name="txtb_age"/></td>
      </tr>
      <tr>
        <td colspan="2" align="center"><input type="submit" value="Submit"/></td>
      </tr>
    </table>
  </form>
</body>